body {
    font-family: Arial, Verdana, sans-serif;
    font-size: 15px;
    color: #333;
    margin: 0;
  }
h1, h2, h3, h4, h5 {
      margin: 0;
  }
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
.intro {
    width: 100%;
    height: 0vh;
  }
.logo {
    padding: 50px 0 25px 0;
    font-size:30px;
}
.home-arrow {
    text-decoration: none;
    color: blue;
    font-size: 20px;
    line-height: 23px;
  }
.header {
    padding: 25px 0 50px 0;
    font-size: 60px;
    font-weight: bold;
    color: blue;
}
.card {
    position: relative;
	width: 572px;
	box-shadow: 0px 0px 40px rgba(0,0,0,0.1);
	display: inline-block;
	height: 500px;
	margin-bottom:25px;
	vertical-align: top;
}
.card:nth-child(odd){
	margin-right: 25px;
}
.card_text {
    padding-top:  25px;
    font-weight: bold;
    font-size: 40px;
    line-height: 46px;
    color: blue;
}
.card_image1 {
    background: url(../img/2_1.png)top center no-repeat;
    width: inherit;
    height: 180px;
    background-size: cover;
}
.card_image2 {
    background: url(../img/2_2.png)top center no-repeat;
    width: inherit;
    height: 180px;
    background-size: cover;
}
.card_image3 {
    background: url(../img/2_3.png)top center no-repeat;
    width: inherit;
    height: 180px;
    background-size: cover;
}
.card_image4 {
    background: url(../img/2_4.png)top center no-repeat;
    width: inherit;
    height: 180px;
    background-size: cover;
}
.card_list {
    font-size: 20px;
    line-height: 165%;
    list-style-type: none;
}
button {
    text-decoration: none;
    font-size: 18px;
    color: blue;
    font-weight: bold;
    border: 3px solid #3F2AFF;
    display: block;
    width: 274px;
    height: 70px;
    margin: 0 auto;
    background-color: white;
}
.number {
    position: absolute;
    right: 25px;
    bottom: 25px;
    color: #EAEAEA;
    font-size: 40px;
}